/* .container {
  padding-left: 0px !important;
  padding-right: 0px !important;
} */

@font-face {
  font-family: "LifeCraft";
  src: local("LifeCraft"), url(../fonts/LifeCraft_Font.ttf) format("opentype");
}

.loginPage {
  padding: 20px 20px 20px 20px;
}
.loginPage > h1 {
  font-family: "LifeCraft";
}
.loginPage > .form-group {
  font-family: "LifeCraft";
  font-size: 24px;
}
.loginPage > .form-group > input {
  /* font-family: Arial, Helvetica, sans-serif; */
}
.loginPage > .form-group > button {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "LifeCraft" !important; */
  font-size: 24px;
}

.landing-images {
  width: 100px;
  height: auto;
}
.landing-button {
  font-family: "LifeCraft";
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
